{
  "singleQuote": true,
  "semi": true,
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "jsxBracketSameLine": false,
  "htmlWhitespaceSensitivity": "css",
  "trailingComma": "es5",
  "bracketSpacing": true 
}
