@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #001e23;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-appearance: none !important;
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0 30px transparent !important; /* Cambia il colore "white" a quello che preferisci per lo sfondo */
  -webkit-text-fill-color: #c5c5c5 !important;
  transition: background-color 5000s ease-in-out 0s; /* Per impedire che Chrome applichi di nuovo lo stile predefinito */
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}

#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  padding: 0;
  text-align: center;
}


.background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logoutButton {
  /* Stili di base */
  background: none;
  border: 0;
  color: #f4f7ff;
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  outline: none;
  padding: 0 0 0 20px;
  perspective: 100px;
  position: relative;
  text-align: left;
  width: 130px;
}

.logoutButton::before {
  background-color: #1e2235;
  border-radius: 5px;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
  transition: all 0.3s ease-in-out;
}

.logoutButton--dark {
  color: #f4f7ff;
}

.logoutButton--dark .button-text {
  color: #f4f7ff;
}

/* Effetti quando il bottone viene cliccato */
.logoutButton.clicked {
  animation: bounce 0.5s ease;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

/* Stili per le icone */
.doorway,
.figure,
.door {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.figure {
  fill: #f4f7ff;
}

.bang {
  fill: #f44336; /* Colore per la parte rossa dell'icona */
}

/* Icona di uscita */
.door {
  fill: #f4f7ff;
}

.button-text {
  margin-left: 60px; /* Spazio per il testo rispetto alle icone */
  transition: color 0.3s ease;
}

/* Effetto hover sul bottone */
.logoutButton:hover {
  color: #f4f7ff;
}

.logoutButton:hover::before {
  background-color: #2a2e43;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.card-shadow {
  box-shadow: 4px 4px 8px #01181b, -4px -4px 8px #01282f;
}

.read-the-docs {
  color: #888;
}

.glow-text {
  text-shadow: 0 0 4px rgba(193, 255, 114, 0);
}

textarea:focus.glow-effect {
  box-shadow: 0 0 4px 0 rgba(193, 255, 114, 1);
}

input:focus + label.glow-text {
  text-shadow: 0 0 4px rgba(193, 255, 114, 1);
}

.glow-effect {
  box-shadow: 0 0 0 0 rgba(193, 255, 114, 0);
}

input:focus.glow-effect {
  box-shadow: 0 0 4px 0 rgba(193, 255, 114, 1);
}

.glow-button {
  box-shadow: 0 0 0 0 rgba(255, 114, 114, 0);
}

button:hover.glow-button {
  box-shadow: 0 0 8px 0 rgba(255, 114, 114, 1);
}

button:active.glow-button {
  box-shadow: 0 0 0 0 rgba(255, 114, 114, 0);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

-ms-overflow-style: none;
scrollbar-width: none;

@layer utilities {
  input:-webkit-autofill {
    @apply bg-gray-800 text-gray-100 !important;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    box-shadow: 0 0 0px 1000px #001e23 inset !important;
    -webkit-text-fill-color: #c5c5c5 !important;
  }
}
