@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #001e23;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-appearance: none !important;
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0 30px transparent !important; /* Cambia il colore "white" a quello che preferisci per lo sfondo */
  -webkit-text-fill-color: #C5C5C5 !important;
  transition: background-color 5000s ease-in-out 0s; /* Per impedire che Chrome applichi di nuovo lo stile predefinito */
}


#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  padding: 0;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.card-shadow {
  box-shadow: 4px 4px 8px #01181b, -4px -4px 8px #01282f;
}

.read-the-docs {
  color: #888;
}

.glow-text {
  text-shadow: 0 0 4px rgba(193, 255, 114, 0);
}

textarea:focus.glow-effect {
  box-shadow: 0 0 4px 0 rgba(193, 255, 114, 1);
}

input:focus + label.glow-text {
  text-shadow: 0 0 4px rgba(193, 255, 114, 1);
}

.glow-effect {
  box-shadow: 0 0 0 0 rgba(193, 255, 114, 0);
}

input:focus.glow-effect {
  box-shadow: 0 0 4px 0 rgba(193, 255, 114, 1);
}

.glow-button {
  box-shadow: 0 0 0 0 rgba(255, 114, 114, 0);
}

button:hover.glow-button {
  box-shadow: 0 0 8px 0 rgba(255, 114, 114, 1);
}

button:active.glow-button {
  box-shadow: 0 0 0 0 rgba(255, 114, 114, 0);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

  -ms-overflow-style: none;
  scrollbar-width: none;
}

@layer utilities {
  input:-webkit-autofill {
    @apply bg-gray-800 text-gray-100 !important;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    box-shadow: 0 0 0px 1000px #001e23 inset !important;
    -webkit-text-fill-color: #c5c5c5 !important;
  }
}
